source/exploracao.ipynb

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais (VENV)
venv/
env/
.env/
rede-nydus/

# IDEs (VS Code, PyCharm)
.vscode/
.idea/
# Ignorar dados brutos da Camada Bronze
source/bronze/
